n8n/demo-data/workflows/RAG_Chat.json
{
  "name": "RAG Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -200
      ],
      "id": "webhook-chat",
      "name": "Chat Webhook",
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"{{ $json.output }}\",\n  \"meta\": {\n    \"documentsUsed\": 5,\n    \"hasContext\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "id": "success-response",
      "name": "Success Response",
      "position": [
        1160,
        -200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a “Company Monthly Report – July 2025” financial document assistant.\nYour job is to answer user questions by first searching the Vector Database for the most relevant text chunks from the July 2025 Company Monthly Report, and then using those chunks to construct your answer.\n\nHow to respond:\n\nSearch the vector store for similar text chunks using RAG.\n\nIf you can’t find an answer in the report, say:\n“I couldn’t find this in the July 2025 Company Monthly Report.”\n\nDo not guess or invent information."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        -480
      ],
      "id": "16d44309-fbf4-4826-bf56-961fe279918e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        -260
      ],
      "id": "e89ad720-d0a2-4999-b7d3-5ffb4a82a005",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OB9xCrm90whUNBDQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        580,
        -40
      ],
      "id": "fcb4fe1d-e144-43dd-adc4-8ee4408bfd4d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "work with you data in qdrant vector store",
        "qdrantCollection": {
          "__rl": true,
          "value": "documentsnew",
          "mode": "list",
          "cachedResultName": "documentsnew"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        660,
        -240
      ],
      "id": "e4ee8f23-530a-48ff-aab5-12a41c3bf383",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        -100
      ],
      "id": "e2d39ee4-82cb-401f-a05b-1c33aa52cfca",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "OB9xCrm90whUNBDQ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "ff2f196f-bfe9-40ac-bef6-f1ce3a6f5662",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f07f836cac22cad92e5e5eaae0fd8126a9218c771c9e8519790581de3bb2e0e0"
  },
  "id": "Vm2km7Yc6YwC4NQ6",
  "tags": []
}